<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.svg" height="150px">
    <h1>Crypto Kitti App</h1>

    <!-- List kittis -->
    <h2>Kitti list</h2>
    <div v-if="$store.getters['hasKittis']" class="kittiList">
      <div v-for="(kitti, index) in $store.getters['kittis']" :key="index" class="kitti">
        <img :src="getKittiImage(kitti.gene)">
        <p>{{kitti.name}}</p>
        <p>{{kitti.age}} years old</p>
        <p>Gene: {{kitti.gene}}</p>
        <p>Owner: {{kitti.owner.substring(0,5) }} ...</p>
      </div>
    </div>
    <div v-else>
      <p>Could not find any kittis, please implement us!</p>
    </div>

    <!-- Create a kitti -->
    <h2>Create kitti</h2>
    <div>
      <input v-model="inputName" type="text" placeholder="Name your kitten" class="input">
      <br>
      <a class="button" @click="createKitti">Create kitti</a>
    </div>

    <!-- Contract address -->
    <h2>Change contract address</h2>
    <div>
      <input
        v-model="inputAddress"
        type="text"
        placeholder="Address to CryptoKitti contract"
        class="input"
      >
      <br>
      <a class="button" @click="changeContractAddress">Change contract address</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "app",
  data() {
    return {
      inputName: "",
      inputAddress: ""
    };
  },
  components: {},
  async created() {
    await this.$store.dispatch("init");
    this.inputAddress = this.$store.state.crypotKittiAddress;
  },
  methods: {
    getKittiImage(gene) {
      return "https://api.adorable.io/avatars/250/" + gene + ".png";
    },
    createKitti() {
      this.$store.dispatch("createKitti", {
        name: this.inputName
      });
    },
    changeContractAddress() {
      this.$store.dispatch("changeContractAddress", {
        address: this.inputAddress
      });
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.kittiList {
  background-color: rgb(243, 242, 242);
  padding: 20px 20px;
}
.kitti {
  display: inline-block;
  padding: 20px 20px;
}
.button {
  background-color: #2c3e50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
</style>
